/* Estilos gerais do corpo da página */
    body {
        font-family: monospace;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        margin: 0; /* Remove margens padrão do navegador */
        padding: 0; /* Remove paddings padrão do navegador */
         /* Define a família de fontes */
    }

    /* Estilização dos links */
    a {
        display: block; /* Transforma em elemento de bloco (ocupa toda a linha) */
        width: 80%; /* Largura de 80% do elemento pai */
        max-width: 300px; /* Largura máxima de 300px */
        background-color: cyan; 
        font-size: 20px; /* Tamanho da fonte */
        border-radius: 10px; /* Bordas arredondadas */
        padding: 12px; /* Espaçamento interno */
        margin: 10px auto; /* Margem: 10px top/bottom e auto para centralizar horizontalmente */
        color: rgb(13, 13, 2); /* Cor do texto */
        text-decoration: none; /* Remove sublinhado padrão dos links */
        text-align: center; /* Centraliza o texto */
        transition: background-color 0.3s; /* Suaviza a transição de cor no hover */
        
    }

    /* Efeito quando o mouse passa sobre o link */
    a:hover {
        background-color: #46d7e7; /* Muda a cor de fundo */
    }

    /* Estilização da lista não ordenada */
    ul {
        list-style-type: none; /* Remove os marcadores de lista */
        padding: 0; /* Remove padding padrão */
        margin: 20px auto; /* Margem: 20px top/bottom e auto para centralizar */
        width: 100%; /* Ocupa 100% da largura disponível */
        display: flex; /* Ativa o modelo flexbox */
        flex-direction: column; /* Organiza os itens em coluna */
        align-items: center; /* Centraliza os itens horizontalmente */
    }

    /* Estilização dos itens da lista */
    li {
        width: 100%; /* Ocupa 100% da largura disponível */
        display: flex; /* Ativa o modelo flexbox */
        justify-content: center; /* Centraliza o conteúdo horizontalmente */
    }
  
    /* Estilização do cabeçalho */
    header{
        text-align: center; /* Centraliza o conteúdo */
        padding: 20px 0; /* Espaçamento interno: 20px top/bottom, 0 left/right */
        color: aliceblue;
        font-size: 17px;
        
    }
    
    /* Estilização da imagem no cabeçalho */
    header img {
        width: 150px; /* Largura fixa */
        height: 150px; /* Altura fixa (mesmo valor para formar círculo perfeito) */
        border-radius: 50%; /* Transforma em círculo perfeito */
        object-fit: cover; /* Ajusta a imagem para cobrir todo o espaço sem distorcer */
        border: 3px solid white; /* Adiciona borda branca */
        box-shadow: 0 2px 5px rgba(10, 10, 10, 0.2); /* Adiciona sombra sutil */
        object-position: center 15%;
    }

    footer, p {
        color: aliceblue;
        text-align: center;
        
    }